@model Assignment_4_solution.Models.Student

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>

    <form action="/Student/AfterEdit">
        <table class="table">

            <tr>
                <td><input type="hidden" name="StudentId" value="@Model.StudentId" /></td>
            </tr>
            <tr>
                <td>FirstName</td>
                <td><input type="text" name="FirstName" value="@Model.FirstName" /></td>
            </tr>
            <tr>
                <td>LastName</td>
                <td><input type="text" name="LastName" value="@Model.LastName" /></td>
            </tr>
            <tr>
                <td>CourseName</td>
                <td><input type="text" name="CourseName" value="@Model.Courses.First().CourseName" /></td>
            </tr>

                <td><input type="submit" /></td>
            </tr>
        </table>
    </form>
</body>
</html>